# Python
*.pyc
*.pyo
__pycache__/
venv/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.xls
*.sqlite
*.db

# Model files
*.h5
*.pkl

# Logs and temporary files
*.log
*.tmp

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore the contents of these directories
data/
output/
models/
